/*

!/back/src
!/back/pom.xml
/back/target

!/bean/src
!/bean/pom.xml
/bean/target

!/cache/src
!/cache/pom.xml
/cache/target

!/dao/src
!/dao/pom.xml
/dao/target

!/service/src
!/service/pom.xml
/service/target

!/task/src
!/task/pom.xml
/task/target
!pom.xml
!.gitignore
!README.md
